SCMSystem/Schema/InvoiceSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Invoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="InvoiceDate" type="xs:date" />
        <xs:element name="SellerID" type="xs:string" />
        <xs:element name="BuyerID" type="xs:string" />
        <xs:element name="OrderID" type="xs:string" />
        <xs:element name="ShippingCharges" type="xs:unsignedShort" />
        <xs:element name="TotalCostOfInvoice" type="xs:unsignedShort" />
        <xs:element maxOccurs="unbounded" name="Item">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Size" type="xs:string" />
              <xs:element name="Color" type="xs:string" />
              <xs:element name="Description" type="xs:string" />
              <xs:element name="Quantity" type="xs:unsignedByte" />
              <xs:element name="UnitPrice" type="xs:decimal" />
            </xs:sequence>
            <xs:attribute name="ID" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="ID" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>