SCMSystem/Schema/OrderSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Orders">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Order">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="BuyerId" type="xs:string" />
              <xs:element name="OrderDate" type="xs:date" />
              <xs:element name="Instruction" type="xs:string" />
              <xs:element maxOccurs="unbounded" name="Item">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Size" type="xs:string" />
                    <xs:element name="Color" type="xs:string" />
                    <xs:element name="Description" type="xs:string" />
                    <xs:element name="Quantity" type="xs:unsignedByte" />
                    <xs:element name="AskingPrice" type="xs:unsignedByte" />
                  </xs:sequence>
                  <xs:attribute name="ItemId" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="OrderId" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>